body {
    padding: 0px;
    margin: 0px;
}
.nav-bar {
    width: auto;
    height: 60px;
    background-color: #9ec5f7;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1px 60px;
    color: white;
}
.nav-bar a {
    color: white;
    font-size: 25px;
    padding: 0px 20px;
    text-decoration: none;
}
.mother-container{
    display: flex;
    justify-content: center;
    width: auto;
    flex-direction: column;
    align-items: center;
}
.second-nav{
    display: flex;
    padding: 15px;
    width: 1000px;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid black;
}
.choose-category{
    display: flex;
    align-items: center;
}
.weather-containers {
    width: 70%;
    display: flex;
    gap: 60px;
    justify-content: center;
    margin-top: 20px;
}
.today, .tomorrow, .friday, .saturday {
    background-color: #ededed;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;

}
h3 {
    font-size: 25px;
}
.weather-containers img {
    border-radius: 50%;
    width: 150px;
}
.degrees {
    display: flex;
    gap: 35px;
}
#temperature {
    width: 50px;
    height: 30px;
    font-size: 20px;
    margin-left: 20px;
    border: 2px solid black;
}
.heigh-temp{
    color: #df0202;
    font-size: 20px;
}
.low-temp {
    color: #3469fb;
    font-size: 20px;
}
#popup-cookie {
    display: none;
}
.cookie {
    border: 2px solid black;
    padding: 5px 20px;
    display: flex;
    align-items: center;
    background-color: #ededed;
    width: 1000px;
    margin: 30px;
    position: fixed;
    bottom: 5px;
    left: 215px;
}
.stop-cookie {
    font-size: 20px;
    font-weight: 900;
    padding: 0px 20px;
    margin: 5px;
}
.cookie-desc {
    font-size: 18px;
    padding: 3px 70px 3px 20px;
    margin: 5px;
}
.cookie img {
    width: 112px;
    padding-right: 30px;
}
.accept-cookies {
    padding: 5px;
    background-color: #83a3fa;
    border: 2px solid black;
    box-shadow: 3px 3px 1px black;
    margin: 20px;
    width: 100px;
}